<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PROVA-Luiz-16-06-2014/src/exercicio/Caixa_mercado.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="exercicio.Caixa_mercado"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PROVA-Luiz-16-06-2014"/>
</launchConfiguration>
