<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Luiz_Rubens_PROVA_02-06-2014/src/exercicio01/Teste_GUI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="exercicio01.Teste_GUI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Luiz_Rubens_PROVA_02-06-2014"/>
</launchConfiguration>
